<h1>All articles</h1>
<%= link_to 'Create article', new_article_path, class:"btn btn-outline-indigo" %>
<% @articles.each do |article| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %><br>
      </h5>
      <p class="card-text"><%= article.body %></p>
      <%= link_to 'Show article', article_path(article), class:"card-link" %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'delete article', article_path(article), method: :delete %>
    </div>
  </div>
<% end %>
