<% if user_signed_in? %>
  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark indigo">
    <%= link_to 'Awesome Blog', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Articles', articles_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Recipes', recipes_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Category
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <%= link_to 'All Categories', categories_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <% Category.all.each do |category| %>
              <%= link_to "#{category.name}", category_path(category),class:"dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            <%= "#{current_user.first_name} #{current_user.last_name}" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
            <%= link_to 'Edit profile', edit_user_registration_path, class:"dropdown-item" %>
            <a class="dropdown-item" href="#">Another action</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete,class:"dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
<% end %>
